

<!DOCTYPE HTML>
<html>
   <head>
      <title>Trendy Uikit Flat bootstrap Responsive  Website Template | Home :: w3layouts</title>
      <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="js/jquery-1.11.0.min.js"></script>
      <!-- Custom Theme files -->
      <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
      <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" />
      <!-- Custom Theme files -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <meta name="keywords" content="Trendy Uikit Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
         Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
      <!--//video -->
      <!--audio strat-->
      <link rel="stylesheet" type="text/css" media="all" href="css/audio.css">
      <script type="text/javascript" src="js/mediaelement-and-player.min.js"></script>       
      <!--pop up end here-->
      <script src="js/bootstrap.min.js"></script>
      <style type="text/css">
         .footer{
         margin-top: 0px;
         }
      </style>
   </head>
   <div class="sign-in-2">
      <a href="#" class="btn btn-info" role="button">Go to Home</a>
      <div class="sign-in-2-top">
         <div class="sign-in-2-top-left">
            <h3>Sign Up</h3>
         </div>
         <div class="sign-in-2-top-right">
            <h4><a href="#/login">Already Registered?</a></h4>
         </div>
         <div class="clearfix"> </div>
      </div>
      <div class="sign-in-2-bottom">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <form action="/signup" method="POST">
                     <fieldset>
                        <div id="legend">
                           <legend class="">Register</legend>
                        </div>
                        <div class="control-group">
                           <label class="control-label" for="firstname">First Name</label>
                           <div class="controls">
                              <input ng-model="signUp.firstName" type="text" id="firstname" name="firstname" placeholder="" class="form-control input-lg">
                              <p class="help-block">Type your First Name</p>
                           </div>
                        </div>
                        <div class="control-group">
                           <label class="control-label" for="lastname">Last Name</label>
                           <div class="controls">
                              <input ng-model="signUp.lastname" type="text" id="lastname" name="lastname" placeholder="" class="form-control input-lg">
                              <p class="help-block">Type your Last Name</p>
                           </div>
                        </div>
                        <div class="control-group">
                           <label class="control-label" for="username">Username</label>
                           <div class="controls">
                              <input ng-model="signUp.username" type="text" id="username" name="username" placeholder="" class="form-control input-lg">
                              <p class="help-block">Username can contain any letters or numbers, without spaces</p>
                           </div>
                        </div>
                        <div class="control-group">
                           <label class="control-label" for="email">E-mail</label>
                           <div class="controls">
                              <input ng-model="signUp.email" type="email" id="email" name="email" placeholder="" class="form-control input-lg">
                              <p class="help-block">Please provide your E-mail</p>
                           </div>
                        </div>
                        <div class="control-group">
                           <label class="control-label" for="password">Password</label>
                           <div class="controls">
                              <input ng-model="signUp.password" type="password" id="password" name="password" placeholder="" class="form-control input-lg">
                              <p class="help-block">Password should be at least 6 characters</p>
                           </div>
                        </div>
                        <div class="control-group">
                           <!-- Button -->
                           <div class="controls">
                              <button ng-click="createUser()" type="submit" class="btn btn-success">Register</button>
                           </div>
                        </div>
                     </fieldset>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="clearfix"> </div>
   </div>
   <div class="footer">
      <div class="container">
         <div class="col-md-3 copy">
            <div class="top1">
               <i class="ham"></i>
            </div>
            <div class="top2">
               <h6>Copyrights © Robosoft Technologies</h6>
               <p>All rights reserved</p>
            </div>
            <div class="clearfix"> </div>
         </div>
         <div class="clearfix"> </div>
      </div>
   </div>

